---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

.my-site-title {
    width: 100%;
    max-width: 200%;
    display: flex;               /* flex container */
    height: 150px;               /* fixed crop height */
    overflow: hidden;            /* crop image exceeding width */
}

.my-site-title .site-logo {
    height: 100%;                /* fill parent height */
    display: block;
    object-fit: cover;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.center-container {
    width: 60%;
    min-width: 400px;
    height: 100%;
    margin: 0 auto;
    padding: 0px;
    background-color: #ffffff;
    z-index: 2;
    border-top: 1px solid #cccccc;
}

.center-inner-container {
    padding-left: 20px;
    padding-right: 20px;
}

body::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    min-width: 400px;
    height: 100%;
    background-color: #ffffff;
    padding: 0px;
    z-index: -1;
}

header {
    position: relative;
    bottom: 0;
    background-color: #ffffff;
    color: #000;
    padding: 20px 20px;
}

footer {
    background-color: #ffffff;
    color: #000;
}

.site-footer {
    position: relative;
    top: 150px;
    background-color: #ffffff;
    padding: 20px;
}

.site-header {
    position: relative;
    display: flex;
    margin: 0 auto;
    padding: 0;
    border-color: #ffffff;
    border-width: 0;
    width: 60%;
    min-width: 400px;
    // background-color: #b83030;
}


@media only screen and (max-width: 768px) and (pointer: coarse) {
    .center-container {
        min-width: 350px;
    }

    body::before {
        min-width: 350px;
    }
}

.page-title {
    font-size: clamp(1.5rem, 5vw, 3rem); 
}

.page-heading {
    font-size: clamp(0.8rem, 2.5vw, 1.2rem);
}
