.image-buttons {
    display: flex;
    gap: 40px;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

.image-button {
    position: relative;
    display: inline-block;
    width: 500px;
    height: auto;
}

.button-image {
    width: 100%;
    height: auto;
    border: 5px solid #dddddd;
    border-radius: 8px;
    display: block;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: -10px;
    height: 20%; /* Overlay covers the bottom half */
    background: rgba(222, 222, 222, 0.6); /* Semi-transparent white */
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.overlay p {
    margin: 0;
    font-size: calc(1vw + 1vh);
    font-weight: bold;
    color: #000; /* Black text for contrast */
    text-align: center;
}

.image-button:hover {
    transform: scale(1.03); /* Zoom effect on hover */
    transition: transform 0.2s ease-in-out;
}

.banner-container {
    margin: 0;
    padding: 0;
    width: 100%;
}

img.banner {
    width: 100%;       /* Full width */
    height: auto;      /* Maintain aspect ratio */
    z-index: 1;        /* Ensure it stays on top */
}

.custom-page-content {
    padding: 0;
    text-align: start;
}
