---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

.site-logo {
    max-width: 200px;
    height: auto;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

body {
    position: relative;
    margin: 0;
    padding: 0;
    background-image: 
        url('/static/img/soybean.png'),
        url('/static/img/soybean.png');
    background-color: #cc9b6d;
    background-size: 100px 100px, 100px 100px;
    background-repeat: repeat, repeat;
    background-position:  0 0, 50px 50px;
    background-blend-mode: overlay, overlay;
    animation: movePattern 10s linear infinite;
}

@keyframes movePattern {
    0% {
        background-position: 0 0, 50px 50px;
    }
    100% {
        background-position: 50px 50px, 100px 100px;
    }
}

.center-container {
    width: 60%;
    height: 100%;
    margin: 0 auto;
    padding: 0px;
    background-color: #ffffff;
    z-index: 2;
    border-top: 1px solid #cccccc;
}

.center-inner-container {
    padding: 20px
}

body::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: 100%;
    background-color: #ffffff;
    padding: 0px;
    z-index: -1;
}

header {
    position: relative;
    bottom: 0;
    background-color: #ffffff;
    color: #000;
    padding: 20px 20px;
}

footer {
    background-color: #ffffff;
    color: #000;
}

.site-footer {
    position: relative;
    top: 150px;
    background-color: #ffffff;
    padding: 20px;
}

.site-header {
    position: relative;
    display: flex;
    margin: 0 auto;
    padding: 0;
    border-color: #ffffff;
}
