<!DOCTYPE html>
    <html lang="{{ page.lang | default: site.lang | default: "en" }}">

    {%- include head.html -%}

    <body>

        {%- include header.html -%}

        <main class="page-content" aria-label="Content"
        style="padding:0; text-align:start;">
        <div class="center-container">
            <div class="center-inner-container">
                <body>
                    <main>
                        {{ content }}
                    </main>
                    <footer>
                        <p>&copy; {{ site.time | date: "%Y" }} {{ site.title }}</p>
                    </footer>
                </body>
            </div>
        </div>
        </main>
        
        {%- include footer.html -%}
    </body>

</html>
