<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body class="{{ page.theme }}">

    {%- include header.html -%}

    <main class="page-content" aria-label="Content"
      style="padding:0; text-align:start;">
      <div class="center-container">
        {{ content }}
        <script type="text/javascript" async
          src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/MathJax.js?config=TeX-MML-AM_CHTML">
        </script>
      </div>
    </main>
    
    {%- include footer.html -%}
  </body>

</html>
